@use './variable';
@use './normalize';
@use './mixins';

@use './header';

%IShare {
  border-radius: 8px;
  background-color: black;
  color: white;
}

.card {
  @include mixins.ICard;
}

.flip {
  @include mixins.flipContainer;
}

.box {
  @extend %IShare;
  padding: 10px;
}

.btn {
  @extend %btn;
}
.btn2 {
  @extend %btn2;
}
