@use './variables' as *;
@use './breakpoints' as *;

// animate__animated
// anim-no-hide

/* main page header */
.nav__logo.visible {
  animation: bounceIn;
  animation-duration: 1.2s;
}
.nav__center--desktop a:nth-child(1).visible {
  animation: fadeIn;
  animation-duration: 1.2s;
}
.nav__center--desktop a:nth-child(2).visible {
  animation: fadeIn;
  animation-duration: 1.7s;
}
.nav__login.visible {
  animation: fadeIn;
  animation-duration: 1.7s;
}
.nav__container_login a.visible,
.header__users.visible {
  animation: fadeIn;
  animation-duration: 1.2s;
}
.header__title.visible {
  animation: fadeInUp;
  animation-duration: 0.7s;
}
/* About */
.about__left {
  & > h2,
  & > img {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
.about__right-img {
  &--mobile,
  & img {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
.about__right-text {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.about.visible {
  .about__left > h2 {
    animation: fadeInUp;
    animation-duration: 0.7s;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  .about__left > img {
    opacity: 1;
    animation: fadeInUp;
    animation-duration: 1.2s;
    transition: opacity 0.9s ease;
  }
}
.about__right-img.visible {
  .about__right-img--mobile,
  img:nth-child(2) {
    animation: fadeInUp;
    animation-duration: 0.7s;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  img:nth-child(3) {
    animation: fadeInUp;
    animation-duration: 1.2s;
    opacity: 1;
    transition: opacity 0.9s ease;
  }
}
.about__right-text.visible {
  animation: fadeInUp;
  animation-duration: 1.2s;
  opacity: 1;
  transition: opacity 0.9s ease;
}
/* Reputation section */
.top__left,
.top__img {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.top__container.visible {
  .top__left {
    animation: fadeIn;
    animation-duration: 0.9s;
    opacity: 1;
    transition: opacity 0.7s ease;
  }
  .top__img {
    animation: fadeIn;
    animation-duration: 0.7s;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}
.reputation__bottom {
  .bottom__left,
  .bottom__right {
    & img,
    & p {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
  .bottom__right {
    & p.visible {
      animation: fadeInLeft;
      animation-duration: 0.7s;
      opacity: 1;
      transition: opacity 0.5s ease;
    }
    & img.visible {
      animation: fadeInRight;
      animation-duration: 0.9s;
      opacity: 1;
      transition: opacity 0.7s ease;
    }
  }
  .bottom__left {
    & p.visible {
      animation: fadeInLeft;
      animation-duration: 0.7s;
      opacity: 1;
      transition: opacity 0.5s ease;
    }
    & img.visible {
      animation: fadeInRight;
      animation-duration: 0.9s;
      opacity: 1;
      transition: opacity 0.7s ease;
    }
  }
  @include for-large-up {
    .bottom__right {
      & p.visible {
        animation: fadeInRight;
        animation-duration: 0.7s;
        opacity: 1;
        transition: opacity 0.5s ease;
      }
      & img.visible {
        animation: zoomInRight;
        animation-duration: 0.9s;
        opacity: 1;
        transition: opacity 0.7s ease;
      }
    }
    .bottom__left {
      & p.visible {
        animation: fadeInLeft;
        animation-duration: 0.7s;
        opacity: 1;
        transition: opacity 0.5s ease;
      }
      & img.visible {
        animation: zoomInLeft;
        animation-duration: 0.9s;
        opacity: 1;
        transition: opacity 0.7s ease;
      }
    }
  }
}
.bottom__center {
  &-img {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &-img.visible {
    animation: fadeIn;
    animation-duration: 1.3s;
    opacity: 1;
    transition: opacity 1s ease;
  }
  &-text {
    & p:first-child,
    & p:nth-child(2) {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &.visible {
      & p:first-child {
        animation: fadeInUp;
        animation-duration: 0.7s;
        opacity: 1;
        transition: opacity 0.5s ease;
      }
      & p:nth-child(2) {
        animation: fadeInUp;
        animation-duration: 1.2s;
        opacity: 1;
        transition: opacity 0.9s ease;
      }
    }
  }
  &-like.visible {
    animation: headShake;
    animation-duration: 0.7s;
    animation-delay: 1.5s;
    // & ~ .bottom__center-fires {
    //   & span {
    //     &:first-child img {
    //       animation: wobble;
    //       animation-duration: 0.4s;
    //       animation-delay: 2s;
    //       transform: translateY(0%);
    //       transition: translate 0.4s;
    //     }
    //     &:nth-child(2) img {
    //       animation: wobble;
    //       animation-duration: 0.6s;
    //       animation-delay: 1.9s;
    //       transform: translateY(0%);
    //       transition: translate 0.6s;
    //     }
    //     &:nth-child(3) img {
    //       animation: wobble;
    //       animation-duration: 0.8s;
    //       animation-delay: 1.8s;
    //       transform: translateY(0%);
    //       transition: translate 0.8s;
    //     }
    //     &:nth-child(4) img {
    //       animation: wobble;
    //       animation-duration: 1s;
    //       animation-delay: 1.7s;
    //       transform: translateY(0%);
    //       transition: translate 1s;
    //     }
    //   }
    // }
  }
}
