$ex-sm: 396px;
$sm: 430px;
$h-sm: 600px;
$md: 768px;
$lg: 1024px;
$xl: 1240px;

@mixin for-ex-small-up {
  @media screen and (min-width: ($ex-sm)) {
    @content;
  }
}
@mixin for-small-up {
  @media screen and (min-width: ($sm + 1)) {
    @content;
  }
}
@mixin for-small-header-up {
  @media screen and (min-width: ($h-sm)) {
    @content;
  }
}
@mixin for-medium-up {
  @media screen and (min-width: ($md)) {
    @content;
  }
}
@mixin for-large-up {
  @media screen and (min-width: ($lg)) {
    @content;
  }
}
@mixin for-xl-up {
  @media screen and (min-width: ($xl)) {
    @content;
  }
}
