* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


.container {
  width: 600px;
  height: 600px;
  border: 1px solid black;
}


.box {
  background-color: green;
  width: 300px;
  height: 300px;
  position: relative;
  cursor: pointer;
  left: 100%;
}

.circle {
  background-color: aqua;
  border-radius: 50%;
  width: 300px;
  height: 300px;
}