@use '@/shared/styles/variables' as *;
@use '@/shared/styles/breakpoints' as *;

// Стили для мобилы
.header {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  position: relative;

  &__content {
    background-color: $main-blue;
    border-radius: 24px 0 24px 24px;
    padding: 27px 8px 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    color: $white;
    font-size: 10vw;
    font-weight: 500;
    line-height: 44.8px;
  }
  &__users {
    width: 70vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-size: contain;

    &_text {
      text-transform: uppercase;
      font-size: 4vw;
      line-height: 13.5px;
      margin: 3vw 0 0 14vw;
    }
    &_info {
      margin-left: 1vw;
      margin-bottom: -1vw;

      & img {
        border-radius: 50%;
        object-fit: cover;
        height: clamp(10px, 8vw, 30px);
        width: clamp(10px, 8vw, 30px);

        &:nth-child(n + 2) {
          margin-left: -13px;
        }
      }
    }
  }
  // 396+px
  @include for-ex-small-up {
    &__users {
      & img {
        height: clamp(10px, 8vw, 35px);
        width: clamp(10px, 8vw, 35px);
      }
      &_info {
        margin-bottom: 0;
      }
    }
  }
  // 430+px
  @include for-small-up {
    &__users {
      & img {
        height: clamp(10px, 7.5vw, 45px);
        width: clamp(10px, 7.5vw, 45px);
      }
    }
    &__title {
      font-size: 44px;
    }
    &__users_text {
      margin: 3.5vw 0 0 14vw;
    }
  }
  // 600+px
  @include for-small-header-up {
    &__users {
      height: 120px;
      width: 420px;
      &_text {
        margin: 24px 0 0 84px;
        font-size: 24px;
      }
      &_info {
        margin-left: 6px;
      }
      & img {
        height: clamp(10px, 7.5vw, 45px);
        width: clamp(10px, 7.5vw, 45px);
      }
    }

    &__title {
      font-size: 70px;
      line-height: 60px;
    }
  }
}
.nav {
  border-collapse: collapse;
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: clamp(47px, 12vw, 60px);

  &__center {
    width: 100%;
    height: fit-content;
    background: $main-blue;
    display: flex;
    justify-content: center;
    border-radius: 24px 24px 0 0;
    padding-top: 8px;
    padding-bottom: 5px;
  }
  &__right {
    height: 100%;
    display: flex;
    align-items: end;
  }
  &__login {
    margin-right: 6vw;
    padding: clamp(8px, 2vw, 16px) clamp(16px, 4vw, 25px);
    background-color: $white;
    border-radius: 50px 0 0 50px;
    font-size: clamp(12px, 4vw, 20px);
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;

    &::after {
      position: absolute;
      content: '';

      background-size: contain;
      height: clamp(33px, 9.3vw, 55px);
      width: clamp(33px, 9.3vw, 55px);
      top: 0;
      right: -25%;
    }
  }

  &__left {
    display: flex;
    align-items: end;
    padding: 0 8px 4px 4px;
    height: 100%;
    background-color: $white;
    border-radius: 24px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-color: $main-blue;
      height: 20px;
      width: 50px;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }
  &__logo {
    font-size: 8vw;
    color: $fiolet;
    font-weight: bold;
    line-height: 38.4px;
    letter-spacing: 0.1em;
  }

  &__center_desktop {
    display: none;
  }
  &__join_desktop {
    display: none;
  }
  // 430+px
  @include for-small-up {
    &__left {
      padding-bottom: clamp(6px, 2vw, 8px);
    }
    &__login {
      padding-right: clamp(8px, 6vw, 25px);
      &::after {
        height: clamp(33px, 9.1vw, 50px);
        width: clamp(33px, 9.1vw, 50px);
        right: -24%;
      }
    }
  }
  // 600+px
  @include for-small-header-up {
    &__login {
      &::after {
        height: clamp(50px, 8.2vw, 56.7px);
        width: clamp(50px, 8.2vw, 56.7px);
        right: -25%;
      }
    }
  }
}
// 768+px
@include for-medium-up {
  .header {
    height: 700px;
    background: none;
    border-radius: 24px;
    &::after {
      display: none;
      background: $main-blue;
    }
    &__content {
      margin: 0;
      padding: 55px 0 35px 23px;
      width: 100%;
      height: 630px;
      background-color: $main-blue;
      border-radius: 24px 0 24px 24px;
      gap: 21px;
    }
    &__title {
      margin: 0;
      font-size: 70px;
      line-height: 74px;
    }
    &__users {
      width: 320px;
      height: 100px;
      background-size: cover;
      &_text {
        text-align: right;
        margin: 16px 18px 0 0;
        font-size: 20px;
        line-height: 18px;
      }
      &_info {
        margin: 5px;
        height: 40px;
        & img {
          width: 40px;
          height: 40px;
          &:nth-child(n + 2) {
            margin-left: -15px;
          }
        }
      }
    }
  }
  .nav {
    height: auto;
    &__center {
      margin: 0;
      padding: 15px 0 0;
      border-radius: 24px 0 0 0;
    }
    &__logo {
      font-size: 30px;
    }
    &__right {
      display: flex;
      align-items: end;
      gap: 36px;
      background-color: $main-blue;
      padding: 2px 30px 2px 15px;
      border-radius: 24px 0 0 0;
    }
    &__container_login {
      display: flex;
      align-items: center;
      background-color: $main-blue;
      padding: 15px 15px 0;
      border-radius: 0 24px 0 0;
    }
    &__join_desktop {
      display: block;
      display: flex;
      gap: 10px;
      padding: 16px 15px;
      color: $white;
      background: $fiolet;
      border-radius: 50px;
    }
    &__login {
      margin: 0;
      font-size: 16px;
      padding: 14px 25px;
      &::after {
        width: 49px;
        height: 49px;
        top: 0;
        right: -30px;
      }
    }
  }
}

// 1024+px
@include for-large-up {
  .header__content {
    border-radius: 24px;
  }
  .nav {
    &__join_desktop {
      margin-bottom: 8px;
    }
    &__login {
      border-radius: 50px;
      &::after {
        right: 0px;
      }
    }

    &__right {
      height: fit-content;
      padding: 0;
      border-radius: 24px;
    }
    &__center {
      width: 100%;
      background: $main-blue;
      border-radius: 24px 24px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 10px 4px 10px;

      &_desktop {
        display: flex;
        border-radius: 25px;
        padding: 5px;
        background: $background-light-grey;
        gap: 10px;
        & a {
          text-transform: uppercase;
          padding: 15px 10px;
          background: $white;
          border-radius: 25px;
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
    &__left {
      width: fit-content;
      padding-bottom: 15px;
    }

    &__container_login {
      padding: 0 0 0 17px;
      border-radius: 24px;
      background: $white;
      align-items: end;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        width: 50px;
        height: 45px;
        background: $main-blue;
        left: 0;
        border-radius: 24px 24px 0 0;
        z-index: -1;
      }
    }
  }
}
// 1240+px
@include for-xl-up {
  .nav {
    &__left {
      padding: 0 12px 0 4px;
      height: 70px;
      & a {
        padding-bottom: 15px;
      }
    }
    &__center {
      &_desktop {
        & a {
          padding: 16px 25px;
        }
      }
    }
    &__join_desktop {
      padding: 16px 25px;
    }
  }
}
