* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 73px auto 0 auto;
  max-width: 1200px;
  text-align: center;
}

h3 {
  font-size: 48px;
  margin-bottom: 50px;
}

p {
  border-radius: 15px;
  font-size: 32px;
  margin-top: 30px;
  padding: 10px 0;
}

.firstP {
  border: 1px solid black;
}

.secondP {
  color: white;
  background-color: black;
}

.thirdP {
  font-weight: bold;
  color: white;
  background-color: red;
  padding: 65px 0;
}

.img_heart {
  margin: 0 auto;
  max-width: 470px;
  padding-right: 35%;
}

.heart {
  max-width: 470px;
}