* {
  margin: 0;
  padding: 0;
}

.list {
  margin: 10px 20px;
}

.list__Brot {
  background-color: aqua;

}

.list__Orange {
  background-color: blueviolet;
}

.list__Fleisch {
  background-color: aquamarine;
}

.list__Butter {
  background-color: bisque;
}

.list__Fisch {
  background-color: brown;
}