* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.header>ul>li {
    font-size: 25px;
}

.header {
    background: #1ABC9C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
}

.header-link {
    display: flex;
    gap: 20px;
}

/* ========================================== */

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.about>img {
    width: 50vw;
}

.about-text {
    font-size: 20px;
    max-width: 624px;
}

.about-text>h2 {
    text-align: center;
    margin-bottom: 23px;
}

/* ========================================== */

.unsere-prejecte {
    background: #dcffeb;
    padding: 124px 65px;
    display: flex;
    flex-direction: column;
}

.unsere-prejecte>h2 {
    font-size: 35px;
    font-weight: 400;
}

.box {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.img {
    width: 436px;
    height: 376px;
    background: url(../img/area1.png);
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    padding: 10px 35px;
}

.img>h3 {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 24px;
}

/* ========================================== */

.footer>h3 {
    font-size: 35px;
    margin: 84px 70px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 55px 70px;
}

.footer-list>li>h4 {
    margin: 25px auto;
    opacity: 0.5;
}

.footer-list>li>p {
    font-weight: bold;
    line-height: 1.3em;
}

.footer-list>li>a {
    font-weight: bold;
    color: red;
}