* {
  margin: 0;
  padding: 0;
  font-family: 'Playwrite GB S', cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

[data-theme='light'] > body {
  background-color: white;
  color: #000;
}

[data-theme='dark'] > body {
  background-color: black;
  color: white;
}
p {
  margin: 5px;
}
