* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  height: 2000px;
  margin: 50px;
}
.title {
  margin: 20px 0;
  background: pink;
  position: sticky;
  top: 0px;
}
